.recipe {
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 5px;
}
.container {
  background-color: rgb(121, 153, 111);
  color: white;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
}
.modal-title {
  color: black;
}
label {
  color: black;
}
.btn-danger {
  margin-left: 5px;
}
.btn-success {
  margin-bottom: 5px;
}
h3 {
  color: rgb(167, 247, 174);
}
h1 {
  color: rgb(183, 228, 177);
}
.btn-success{
  background-color: #8d2d2d;
  border-color: aliceblue;
}
.btn-success:hover{
  border-radius: 5px;
  background-color: brown;
}